@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --p-text-color: rgb(200, 200, 200);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background-color: #16171b;
  /* background-image: url('https://vectr.com/tmp/dJB3rw39B/b7gYtnggDi.svg?width=314&height=314&select=b7gYtnggDipage0');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */

  /* color: var(--h-text-color); */
  color: whitesmoke;
  font-family: "Inter", sans-serif;
}
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--p-text-color);
  font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.body__wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: 1128px;
  margin: 0 auto;
  padding: 0 12px;
}
.subcontainer {
  max-width: 620px;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  display: none;
}
.header__inner {
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-size: 42px;
  font-weight: 700;
}
@media (min-width: 780px) {
  header {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.hero {
  position: relative;
  text-align: center;
}
.hero__inner {
  display: flex;
  align-items: center;
  min-height: 100vh;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}
.hero__title {
  font-size: 40px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero__summary {
  font-size: 21px;
  color: var(--p-text-color);
}
.hero__cta {
  margin-top: 1rem;
}
.hero::after {
  content: "";
  position: absolute;
  background-image: url("../images/hero-section-01.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -1300px;
  background-position-y: top;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (min-width: 780px) {
  .hero {
    text-align: left;
  }
  .hero::after {
    background-position-x: center;
    background-position-y: top;
  }
  .hero__copy {
    text-align: left;
    max-width: 500px;
  }
  .hero__summary {
    margin-bottom: 2rem;
  }
}

/* features */
.features__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 60px;
  padding-bottom: 80px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}
.features__copy {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.features__title {
  font-size: 40px;
  margin-top: 0;
}
.feature__icon{
  width: 96px;
  height: 96px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.feature__icon img{
  height: 100%;
}
.feature__title {
  font-size: 24px;
  max-width: 94%;
  margin-bottom: 0;
}
.feature__inner{
  min-height: 300px;
}
.feature__inner p {
  color: var(--p-text-color);
  font-size: 18px;
  max-width: 94%;
}
.text-center {
  text-align: center;
}
.feature {
  margin: auto;
}
@media (min-width: 780px) {
  .feature {
    max-width: calc(33.333% - 16px); /*33% - 16px column-gap*/
  }
  /* .feature__title{
    min-height: 70px;
  } */
  .feature p {
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact {
  min-height: 100vh;
}

/* BUTTONS */
.button {
  display: inline-flex;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 600;
  line-height: 16px;
  text-decoration: none !important;
  text-transform: uppercase;
  background-color: #242830;
  color: #fff !important;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  justify-content: center;
  padding: 16px 32px;
  height: 48px;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 5px;
}
.button:hover {
  background: #262a33;
}
.button:active {
  outline: 0;
}
.button::before {
  border-radius: 2px;
}
.button-primary {
  background: #097dea;
  background: linear-gradient(65deg, #0270d7 0, #0f8afd 100%);
}
.button-primary:hover {
  background: #0982f4;
  background: linear-gradient(65deg, #0275e1 0, #198ffd 100%);
}

/* projects */
.projects {
  padding-top: 80px;
}
.projects__copy {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.projects__title {
  font-size: 40px;
}

.projects__inner {
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
  padding-bottom: 30px; /*margin bottom from project is 50px so 80-50*/
}
.project {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
}
.project__copy {
  order: 1;
  text-align: center;
}
.project__title {
  font-size: 28px;
}
.project__summary {
  font-size: 20px;
  color: var(--p-text-color);
}
.project__image {
  margin-bottom: 32px;
  max-width: 100%;
}

.project__image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  max-width: 528px;
  max-height: 528px;
}
@media (min-width: 500px) {
  .project__copy p {
    max-width: 460px;
  }
}
@media (min-width: 780px) {
  .project:nth-of-type(2n) .project__copy {
    order: 1;
  }
  .project {
    flex-direction: row;
    column-gap: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
  }
  .project__copy,
  .project__image {
    width: 50%;
  }
  .project__copy {
    text-align: left;
    width: 488px;
    order: initial;
  }
  .project__title {
    margin-top: 0;
    margin-bottom: 0;
  }
  .project__image {
    margin-bottom: 0;
    max-width: 528px;
  }
  .projects__list{
    margin-top: 80px;
  }
}

/* FAQ */
.faq .container {
  border-bottom: 1px solid rgba(100, 100, 100, 0.2);
}
.faq__inner {
  max-width: 650px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 12px;
}
.faq__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
.faq__item:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.faq__question {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq__question > * {
  margin-bottom: 20px;
  font-size: 18px;
}
.faq__question-arrow {
  content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" fill="none" shape-rendering="geometricPrecision" style="color:white"><path d="M6 9l6 6 6-6"></path></svg>');
  transition: all 0.3s ease;
}
.faq__answer p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  padding-left: 10px;
}
.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
.faq__show-answer .faq__answer {
  max-height: 300px;
}
.faq__show-answer .faq__question-arrow {
  transform: rotate(-180deg);
}

/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.contact__title {
  font-size: 40px;
  margin-bottom: 50px;
}
form {
  max-width: 600px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

.contact__input {
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  border: 1px solid transparent;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  outline: 0;
}
.contact__input:focus {
  border: 1px solid transparent;
}
.contact__input::placeholder {
  font-size: 18px;
}
textarea {
  min-height: 150px;
  line-height: 150%;
  resize: vertical;
}
.contact__button {
  float: right;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #8885;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
